    .botMessage {
    width: 180px;
    position: relative;
    float: right;
    top: 10px;
    font-size: 10px;
    font-family: verdana;
    }
    .botMessage strong {
    color: #500;
    }
    .dropper {
    position: relative;
    width: 49px;
    height: 49px;
    top: 34px;
    margin-right: 11px;
    clear: right;
    float: right;
    }
    .captcha {
    float: left;
    padding-right: 10px;
    }
    .captcha img {
    background: #fff;
    border: 1px solid #000;
    padding: 1px;
    margin-top: 8px
    }